<p style="color: green"><%= notice %></p>

<h1>Components</h1>

<div id="components">
  <% @components.each do |component| %>
    <%= render component %>
    <p>
      <%= link_to "Show this component", component %>
    </p>
  <% end %>
</div>

<%= link_to "New component", new_component_path %>
